<?xml version="1.0" ?>
<config>
	<modules>
		<Cdpbtc_Payment>
			<version>1.0.0.0</version>
		</Cdpbtc_Payment>
	</modules>
	<frontend>
		<layout>
			<updates>
				<cdpbtc_payment>
					<file>cdpbtc.xml</file>
				</cdpbtc_payment>
			</updates>
		</layout>
		<routers>
			<cdpbtc_payment>
				<use>standard</use>
				<args>
					<module>Cdpbtc_Payment</module>
					<frontName>cdpaybtc</frontName>
				</args>
			</cdpbtc_payment>
		</routers>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<cdpbtc_payment_order_success>
						<type>singleton</type>
						<class>cdpbtc_payment/observer</class>
						<method>hookToOrderSaveEvent</method>
					</cdpbtc_payment_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</frontend>
	<global>
		<blocks>
			<cdpbtc_payment>
				<class>Cdpbtc_Payment_Block</class>
			</cdpbtc_payment>
		</blocks>
		<models>
			<cdpbtc_payment>
				<class>Cdpbtc_Payment_Model</class>
				<resourceModel>cdpbtc_payment_resource</resourceModel>
			</cdpbtc_payment>
			<cdpbtc_payment_resource>
				<class>Cdpbtc_Payment_Model_Resource</class>
				<entities>
					<tran>
						<table>cdpbtc_payment_tran</table>
					</tran>
				</entities>
			</cdpbtc_payment_resource>
		</models>
		<resources>
			<cdpbtc_payment_setup>
				<setup>
					<module>Cdpbtc_Payment</module>
				</setup>
			</cdpbtc_payment_setup>
		</resources>
	</global>
	<default>
		<payment>
			<cdpbtc_payment>
				<active>1</active>
				<model>cdpbtc_payment/paymentMethod</model>
				<title>BTC Payment</title>
				<payment_action>authorize</payment_action>
			</cdpbtc_payment>
		</payment>
	</default>
</config>